@import "../../scss/palette.scss";

.card {
  background-color: $white;
  max-width: 300px;
  width: 100%;
  border: 1px solid $blue;
  border-radius: 2px;
  color: $darkBlue;
  overflow: hidden;
  height: 100%;
}

.header {
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.title {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 6px;
}

.subTitle {
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
}

.data {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  margin-left: 20px;
}

.show {
  animation: open 0.1s ease-in forwards;
}

.hide {
  animation: hide 0.1s ease-in forwards;
}

@keyframes open {
  0% {
    min-height: 0px;
  }
  100% {
    min-height: 221px;
  }
}

@keyframes hide {
  0% {
    min-height: 221px;
  }
  100% {
    min-height: 0px;
  }
}
