body {
  font-family: "Roboto", sans-serif;
  background-color: $bgBody;
  height: 100vh;
  &::-webkit-scrollbar {
    width: 4px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $blue;
  }
}

.container {
  max-width: $containerWidth;
  width: 100%;
  margin: 0 auto;
  padding: $containerPadding;
}

.page {
  padding: 50px 0;
}
